<div class="jumbotron">
    <div class="container text-center">
        <h1>For Sale</h1>
    </div>
</div>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Cost</th>
            <th>Square Feet</th>
            <th>City</th>
            <th>Delete Listing?</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" ng-repeat="listing in vm.listings.list">
            <td>{{listing.cost | currency}}</td>
            <td>{{listing.sqft | number}}</td>
            <td>{{listing.city}}</td>
            <td><button class="btn btn-danger" ng-click="vm.deleteListing(listing)">Delete</button></td>
        </tr>
    </tbody>
</table>