<div class="jumbotron">
    <div class="container text-center">
        <h1>Listings</h1>
    </div>
</div>


<!-- <h2>Search Movies?</h2>
<input type="text" placeholder="Movie Title" ng-model="vm.searchTerm.string">
<button ng-click="vm.searchMovie(vm.searchTerm)">Search!</button>
</br>
<select ng-options="movie._id as movie.title for movie in vm.movies.list track by movie._id" ng-model="vm.movies.list"> -->
<!-- </select>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" ng-repeat="movie in vm.movies.list">
                <div class="imgDiv text-center">

                <a ng-href="#!details/{{movie._id}}">
                    <img class="img-responsive center-block" ng-src="{{movie.urlOfPic}}" alt="{{movie.title}}" style="max-height:500px"></img>
                </a>

            </div>
        </div>
    </div>
</div>