<div class="jumbotron">
    <div class="container text-center">
        <h1>For Sale</h1>
    </div>
</div>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Property ID</th>
            <th>Cost</th>
            <th>Square Feet</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" ng-repeat="listing in vm.listings.list">
            <td>{{listing._id}}</td>
            <td>{{listing.cost}}</td>
            <td>{{listing.sqft}}</td>
            <td>{{listing.city}}</td>
        </tr>
    </tbody>
</table>